<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>#edit</title>
    <link rel="stylesheet" th:href="@{/css/layout.css}"/>
</head>
<body>
<h1>edit user</h1>
<form th:method="PATCH" th:action="@{/user_{id}(id=${user.getId()})}" th:object="${user}">
    <div>
        <label for="first_name">First name:</label>
        <br/>
        <input type="text" th:field="*{firstName}" id="first_name" required/>
        <div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
    </div>
    <div>
        <label for="second_name">Second name:</label>
        <br/>
        <input type="text" th:field="*{secondName}" id="second_name" required/>
        <div th:if="${#fields.hasErrors('secondName')}" th:errors="*{secondName}"></div>
    </div>
    <div>
        <label for="age">Age:</label>
        <br/>
        <input type="text" th:field="*{age}" id="age" required/>
        <div th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></div>
    </div>
    <input type="submit" value="edit"/>
    <input type="button" value="cancel" onclick="window.location.href='/'"/>
</form>
</body>
</html>