<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>#users</title>
    <link rel="stylesheet" th:href="@{/css/layout.css}"/>
</head>
<body>
<div sec:authorize="isAuthenticated()">
    <div>
        <span th:text="${currentUser.getUsername()}">#username</span>
    </div>
    <div>
        <input type="button" value="profile" onclick="window.location.href='/user'"/>
    </div>
    <form th:action="@{/logout}" th:method="POST">
        <input type="submit" value="logout"/>
    </form>
</div>
<h1>select * from users</h1>
<table>
    <tr>
        <th>id</th>
        <th>username</th>
        <th>first name</th>
        <th>last name</th>
        <th>age</th>
        <th>role</th>
        <th>act</th>
    </tr>
    <tr th:block th:each="user : ${users}" class="user-row">
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getUsername()}"></td>
        <td th:text="${user.getFirstName()}"></td>
        <td th:text="${user.getSecondName()}"></td>
        <td th:text="${user.getAge()}"></td>
        <td th:text="${user.getRoles()}"></td>
        <td class="buttons">
            <form th:method="GET" th:action="@{/admin/{id}/edit(id=${user.getId()})}">
                <input type="submit" value="edit"/>
            </form>
            <form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}">
                <input type="submit" value="delete"/>
            </form>
        </td>
    </tr>
    <tr>
        <td colspan="6">&nbsp;</td>
        <td>
            <input type="button" value="add" onclick="window.location.href='admin/add'"/>
        </td>
    </tr>
</table>
</body>
</html>