<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>#user</title>
    <link rel="stylesheet" th:href="@{/css/layout.css}"/>
</head>
<body>
<h1>select * from users</h1>
<table>
    <tr>
        <th>id</th>
        <th>first name</th>
        <th>second name</th>
        <th>age</th>
        <th>&nbsp</th>
    </tr>
    <tr th:block th:each="user : ${users}">
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getFirstName()}"></td>
        <td th:text="${user.getSecondName()}"></td>
        <td th:text="${user.getAge()}"></td>
        <td class="buttons">
            <form th:method="GET" th:action="@{/user_{id}/edit(id=${user.getId()})}">
                <input type="submit" value="edit"/>
            </form>
            <form th:method="DELETE" th:action="@{/user_{id}(id=${user.getId()})}">
                <input type="submit" value="delete"/>
            </form>
        </td>
    </tr>
    <tr>
        <td colspan="4">&nbsp</td>
        <td class="add"><input type="button" value="add" onclick="window.location.href='add'"/></td>
    </tr>
</table>
</body>
</html>