body {
    font-family: "Trebuchet MS", serif;
    font-style: italic;
}

table, th, td {
    border: thin solid darkgray;
    text-align: center;
}

th {
    padding: 5px 10px 5px 10px;
    /*background-color: #00000F;*/
}

.er {
    color: brown;
}